
body{
	padding-top: 100px;
}

.navbar-brand{
	height: 20px;
	line-height: 15px; 
}
.navbar-nav > li >a{
	height: 20px;
	line-height: 15px; 
}

h1 {color:brown;}
input {color:brown;}
p {color:brown;}
.colore {color:orange;}
.grande {font-size:24px;}