@charset "ISO-8859-1";


body{
	padding-top: 50px;
}
.navbar-nav > li >a{
	height: 5px;
	line-height: 5px; 
}

.carousel-inner > .carousel-item{
	max-height:800px; 
	background-size: cover; 
	background-position: center center;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 21.25rem;
    left: 15%;
    padding-top: 1.2rem;
    padding-bottom: 30rem;
    color: #fff;
    text-align: center;
}


h5 {
	font-size:40px;
	color:rgb(255, 255, 255);
}

input {
	color:black;
}

p {
	color:rgb(255, 255, 255);
}

.grande {
	font-size:100px;
}